  <!-- The AG Grid component -->
  <p>Rows: {{count}} &nbsp;
  <button (click)="groupByLocation()">Group by Store Location</button> &nbsp;
  <button (click)="reset()">Reset</button>
  </p>

  <ag-grid-angular #myGrid
    class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [components]="components"
    [sortingOrder]="sortingOrder"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellValueChanged($event)">
  </ag-grid-angular>
