/* You can add global styles to this file, and also import other style files */

/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.ag-header-cell-text {
  font-weight: bold
}

.ag-header-container {
  background: #eee;
}



/*  cell editing */
.mood {
  border-radius: 15px;
  border: 1px solid grey;
  background-color: #e6e6e6;
  padding: 15px;
  text-align: center;
  display: inline-block;
  outline: none;
}

.default {
  border: 1px solid transparent !important;
  padding: 4px;
}

.selected {
  border: 1px solid lightgreen !important;
  padding: 4px;
}

.doubling-input,
.numeric-input {
  font-size: calc(var(--ag-font-size) + 1px);
  padding-left: calc(var(--ag-cell-horizontal-padding) - 1px);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.invalid {
  border: solid 1px red !important;
  background:rgb(251, 178, 188);
}

/* Completely fill the space for number arrow buttons */
.doubling-input::-webkit-outer-spin-button,
.doubling-input::-webkit-inner-spin-button {
  width: 25px;
  position: absolute;
  top: 0px;
  right: 1px;
  height: 100%;
}

